<div class="row">
    <div class="large-12 columns">
        <div id="enrollments-index" class="large-8 columns">
            <table>
                <thead>
                    <tr>
                        <th width:"100">Surveys</th>
                    </tr>
                    <tbody>
                        <% @enrollments.each do |e| %>

                        <tr>
                          <td width:"100"><%= link_to e.therapist_name + " " + e.date, enrollment_path(e.id)%></td>


                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </hr>
            <%= link_to "New Enrollment", new_enrollment_path, class: "button_success" %>

        </div>
    </div>
</div>
<!-- link_to p.name, edit_pubsurvey_path(p.id) -->
